<main class="main">
  <div class="content">
    <div class="left-side">
      <header>
        <a class="angular-logo" routerLink="/home">
          <img width="147" height="36" alt="Angular" src="angular-logo.svg" priority />
        </a>
        <a class="ng-poland" href="https://ng-poland.pl/" target="_blank">
          <span>NG POLAND 2025</span>
        </a>
        <a href="https://www.angulararchitects.io/blog/" target="_blank">
          <img
            width="142"
            height="50"
            alt="Angular Architects"
            ngSrc="architects.png"
            priority
            style="margin-top: -10px"
          />
        </a>
      </header>
      <h1>Defer & Incremental Hydration</h1>
      <p>Welcome to my &#64;defer and <em>incremental hydration</em> demo 💦</p>
    </div>
    <div aria-label="Divider" class="divider" role="separator"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (
          item of [
            { title: 'Incremental Hydration Docs', link: 'https://angular.dev/guide/incremental-hydration' },
            {
              title: 'Read my SSR blog post',
              link: 'https://www.angulararchitects.io/en/blog/complete-guide-for-server-side-rendering-ssr-in-angular/',
            },
            {
              title: 'Performance Workshop',
              link: 'https://www.angulararchitects.io/en/training/angular-performance-optimization-workshop/',
            },
            {
              title: 'Best Practices Workshop',
              link: 'https://www.angulararchitects.io/en/training/angular-best-practices/',
            },
          ];
          track item.title
        ) {
          <a class="pill" [href]="item.link" target="_blank" rel="noopener">
            <span>{{ item.title }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>
        }
      </div>
    </div>
  </div>
</main>

<router-outlet />
